---
import Container from '@/components/Container.astro'
import IsoVideo from '@/components/home/IsoVideo.astro'
import GradientBg from '@/components/ui/GradientBg.astro'
import GridBg from '@/components/ui/GridBg.astro'
import { MainButton } from '@/components'
import TextAccent from '@/components/ui/TextAccent.astro'
---

<Container className="flex items-center justify-center h-dvh relative top-0 overflow-x-hidden w-full">
  <div class="font-light flex flex-col items-center relative text-center z-30" data-scroll data-scroll-speed="-0.1">
    <h1 class="reveal-up leading-none mb-8 text-5xl md:text-7xl xl:text-[5rem] 2xl:text-[5.6rem]">Digital solutions<br>tailored to<br class="block md:hidden"><TextAccent>your budget.</TextAccent></h1>
    <h2 class="reveal-up xl:leading-[1.35em] text-xl md:text-3xl xl:text-[1.8rem] 2xl:text-[2rem] max-w-3xl"><strong class="font-medium">Web Design</strong>, <strong class="font-medium">Custom Software</strong> & <strong class="font-medium">Branding</strong> to elevate your business and stand out online.</h2>
    <div class="reveal-up button mt-12">
      <MainButton client:only>Get a Quote Now</MainButton>
    </div>
  </div>
	<GridBg/>
	<IsoVideo/>
  <!-- <GradientBg position='center' color='purple'/> -->
</Container>

<style>

	h1.reveal-up {
		transition-delay: 0ms;
	}

	h2.reveal-up {
		transition-delay: 40ms;
	}

	.button {
		transition-delay: 80ms;
	}
</style>