---
import Container from '@/components/Container.astro'
import IsoVideo from '@/components/home/IsoVideo.astro'
import GradientBg from '@/components/ui/GradientBg.astro'
import GridBg from '@/components/ui/GridBg.astro'
import MainButton from '@/components/ui/MainButton.astro'
import TextAccent from '@/components/ui/TextAccent.astro'
---

<Container className="flex items-center justify-center h-dvh relative top-0">
  <div class="font-light flex flex-col items-center relative text-center z-10">
    <h1 class="leading-none mb-8 text-5xl md:text-7xl xl:text-[5.6rem] animate-fade-up animate-duration-1000 animate-ease-in-out">Digital solutions<br>tailored to<br class="block md:hidden"><TextAccent>your budget.</TextAccent></h1>
    <h2 class="xl:leading-[1.35em] text-xl md:text-3xl xl:text-[2rem] max-w-3xl animate-fade-up animate-duration-1000 animate-delay-[100ms] animate-ease-in-out"><strong class="font-medium">Web Design</strong>, <strong class="font-medium">Custom Software</strong> & <strong class="font-medium">Branding</strong> to elevate your business and stand out online.</h2>
    <div class="mt-12 animate-fade-up animate-duration-1000 animate-delay-[200ms] animate-ease-in-out">
      <MainButton>Get a Quote Now</MainButton>
    </div>
  </div>
  <IsoVideo/>
  <GridBg/>
  <GradientBg position='center' color='purple'/>
</Container>