---
import Container from '@/components/Container.astro'
import SectionTitle from '@/components/SectionTitle.astro'
import type { Project } from '@/interfaces'

const projects: Project[] = [
  {
    title: "Drumlab",
    path: "/projects/drumlab",
    image: "/images/projects/drumlab.webp"
  }
]

---

<Container className="mt-16 sm:mt-32 md:mt-60">
  <SectionTitle className='reveal-fade text-center z-50' title='Latest Projects' subtitle='Discover our Work' />
  <div class="flex flex-col sm:flex-row gap-4 w-full">
    <div class="reveal-fade flex-[5] aspect-square">
      <img src="/images/projects/drumlab.webp" alt="Drumlab" class="relative h-full overflow-hidden object-cover rounded-lg w-full" data-scroll data-scroll-speed="-0.5"/>
    </div>
    <div class="reveal-fade flex flex-col flex-[4]">
      <div class="flex flex-col flex-1 gap-4" data-scroll data-scroll-speed="1">
        <img src="/images/projects/sol-y-luna.webp" alt="Sol y Luna" class="object-cover overflow-hidden rounded-lg w-full"/>
        <img src="/images/projects/jvs-control.webp" alt="JVS Control" class="object-cover overflow-hidden rounded-lg w-full"/>
      </div>
    </div>
  </div>
</Container>

<script>
  import { RevealFade } from "@/js/reveal"
  document.addEventListener("astro:page-load", () => {
    const reveal = new RevealFade()
    reveal.observe()
  })
</script>