---
import ContainerFluid from '@/components/ContainerFluid.astro'
import SectionTitle from '@/components/SectionTitle.astro'
import { projects } from '@/data/projects'
---

<ContainerFluid className="mt-24 sm:mt-40 md:mt-60 mb-12 md:mb-24 lg:mb-32">
  <SectionTitle revealMode='up' className='text-center z-50' title='Latest Projects' subtitle='Discover our Work' />
  <ul class="flex flex-col md:flex-row gap-4 md:gap-6" id="project-list">
    { projects.filter( project => project.featured ).map(( project, index ) => (
      <li class={`group relative flex-1 h-[32vw] reveal-fade dyn-transition project-item ${index === 1 ? 'expanded' : ''}`}>
        <a href={`/projects/${ project.slug }`}>
          <img transition:name={ index === 0 ? `image${ project.slug }` : undefined } loading="lazy" width="1280" height="720" alt={`Dynamic Studio - ${ project.title }`} src={ project.thumbnail } class="rounded relative size-full object-cover" />
          <div class="project-item__caption md:w-0 md:opacity-0 overflow-hidden flex flex-col md:flex-row justify-between md:items-center py-2 transition-all duration-500">
            <h2 class="text-xl md:text-2xl font-medium text-nowrap">{ project.title }</h2>
            <span class="text-sm md:text-base uppercase">{ project.category }</span>
          </div>
        </a>
      </li>
    ))}
  </ul>
</ContainerFluid>

<script>
  document.addEventListener("astro:page-load", () => {
    const projectItem = document.querySelectorAll('.project-item')  
    projectItem.forEach(item => {
      item.addEventListener('mouseenter', () => {
        projectItem.forEach(otherItem => {
          otherItem.classList.remove('expanded')
        })
        item.classList.add('expanded')
      })
    })
  })
</script>

<style>
  .project-item {
    transition: all cubic-bezier(0.32,0.72,0,1) 1s;
  }

  @media (min-width: 768px) {  
    .project-item.expanded {
      flex: 0 0 52%;
      height: 34vw;
      margin-top: -1vw;
    }
  }

  .expanded .project-item__caption{
    opacity: 1;
    width: auto;
  }
</style>