---
import Container from '@/components/Container.astro'
import SectionTitle from '@/components/SectionTitle.astro'
import type { Service } from '@/interfaces'

const services: Service[] = [
  {
    title: "Websites",
    path: "/services/websites",
    image: "/images/services/websites.webp"
  },
  {
    title: "E-Commerce",
    path: "/services/e-commerce",
    image: "/images/services/e-commerce.webp"
  },
  {
    title: "Custom software",
    path: "/services/custom-software",
    image: "/images/services/custom-software.webp"
  },  
  {
    title: "Branding",
    path: "/services/branding",
    image: "/images/services/branding.webp"
  }
]

---

<Container className="mt-32 md:mt-40">
  <SectionTitle className='max-w-xl reveal-fade' title='Unlock Revenue Growth for Your Business' subtitle='What we offer' />
  <ul class="grid grid-cols-[repeat(auto-fill,minmax(140px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(180px,1fr))] md:grid-cols-[repeat(auto-fill,minmax(240px,1fr))] lg:grid-cols-[repeat(auto-fill,minmax(280px,1fr))] gap-3 md:gap-6">
    { services.map(( service, index ) => (
      <li class="reveal-up-categories group reveal-fade">
        <a href={ service.path } class="aspect-square flex items-center p-4 md:p-8 bg-black overflow-hidden relative rounded-lg" data-scroll data-scroll-speed={`-${ index }`}>
          <h2 class="font-medium relative z-20 text-xl md:text-3xl leading-tight">{ service.title }</h2>
          <img width="410" height="302" loading="lazy" decoding="async" src={ service.image } alt={ service.title } class="absolute h-full w-full top-0 left-0 z-10 object-cover opacity-40 group-hover:scale-125 group-hover:opacity-20 group-hover:rotate-12 transition-all duration-500" />
        </a>
      </li>
    ))}
  </ul>
</Container>

<script>
  import { RevealFade } from "@/js/reveal"
  document.addEventListener("astro:page-load", () => {
    const reveal = new RevealFade()
    reveal.observe()
  })
</script>