---
import ContainerFluid from '@/components/ContainerFluid.astro'
import { Websites, ECommerce, Software, Branding } from '@/components/Icons'
import { services } from '@/data'

---

<ContainerFluid>
  <!-- <ul class="flex flex-wrap gap-4 xl:gap-6">
    { services.map(( service, index ) => (
      <li class="flex-[0_0_calc(50%-8px)] lg:flex-[0_0_calc(25%-12px)] xl:flex-[0_0_calc(25%-18px)] group reveal-fade">
        <a href={`/services/${ service.slug }`} class="aspect-square flex items-center p-4 md:p-6 xl:p-8 overflow-hidden relative rounded md:rounded-lg" data-scroll data-scroll-speed={`-${ index }.4`}>
          <h2 class="font-medium relative z-20 text-lg sm:text-xl md:text-2xl lg:text-3xl leading-tight group-hover:text-dynamicGreen transition-all duration-300">{ service.title }</h2>
          <img width="410" height="302" alt={`Dynamic Studio ${ service.title }`} src={ service.image } alt={ service.title } class="absolute h-full w-full top-0 left-0 z-10 object-cover opacity-40 group-hover:scale-125 group-hover:opacity-20 group-hover:rotate-12 transition-all duration-500" />
        </a>
      </li>
    ))}
  </ul> -->
  <ul class="flex flex-wrap gap-4 md:gap-6 xl:gap-8">
    { services.map(( service, index ) => {

      const scrollSpeedValues = [0, 0.075, 0.125, 0.175];
      const speed = scrollSpeedValues[index % scrollSpeedValues.length]

      const renderIcon = (icon: string) => {
        switch (icon) {
          case 'websites':
            return <Websites width='32' />
          case 'e-commerce':
            return <ECommerce width='32' />
          case 'custom-software':
            return <Software width='32' />
          case 'branding':
            return <Branding width='32' />
          default:
            return null
        }
      }
      return (
        <li class="flex-[0_0_calc(100%)] md:flex-[0_0_calc(50%-12px)] lg:flex-[0_0_calc(50%-16px)] xl:flex-[0_0_calc(25%-24px)] group reveal-up flex flex-col">
          <a href={`/services/${ service.slug }`} data-scroll data-scroll-speed={ speed } class="flex flex-1 flex-col">
            <div class="border flex-1 flex-col flex border-[rgba(255,255,255,0.16)] group-hover:border-transparent group-hover:bg-[rgba(255,255,255,0.06)] transition-all duration-500 p-2 md:p-4 overflow-hidden relative rounded md:rounded-lg">
              <div class="p-4 flex flex-col flex-1">
                <div class="flex justify-between items-center gap-4">
                  <h2 class="font-medium text-pretty relative z-20 text-lg md:text-xl lg:text-2xl group-hover:text-dynamicGreen transition-all duration-500">
                    { service.title }
                  </h2>
                  <div class="size-16 flex-[0_0_64px] rounded-full flex items-center justify-center border border-[rgba(255,255,255,0.16)] group-hover:text-dynamicGreen group-hover:border-dynamicGreen transition-all duration-500">
                    { renderIcon( service.icon )}
                  </div>
                </div>
                <div class="my-8 text-gray-400 flex-1">
                  { service.shortDescription }
                </div>
              </div>
              <div class="overflow-hidden rounded">
                <img width="410" height="302" alt={`Dynamic Studio ${ service.title }`} src={ service.image } alt={ service.title } class="w-full aspect-[4/3] object-cover group-hover:scale-110 transition-all duration-500" />
              </div>
            </div>
          </a>
        </li>
      )
    })}
  </ul>
</ContainerFluid>