---
import Main from '@/layouts/Main.astro'
import AboutUs from '@/sections/home/AboutUs.astro'
import Hero from '@/sections/home/Hero.astro'
import Services from '@/sections/home/Services.astro'
---

<Main>
	<Hero/>
	<AboutUs/>
	<Services/>
	<div class="h-screen"></div>
</Main>