---
import Main from '@/layouts/Main.astro'
import AboutUs from '@/sections/home/AboutUs.astro'
import Hero from '@/sections/home/Hero.astro'
import Services from '@/sections/home/Services.astro'
import Projects from '@/sections/home/Projects.astro'
import Contact from '@/sections/home/Contact.astro'
import Marquee from '@/sections/home/Marquee.astro'
---

<Main>
	<Hero/>
	<AboutUs/>
	<Marquee/>
	<Services/>
	<Projects/>
	<Contact/>
</Main>