---
import GradientBg from '@/components/ui/GradientBg.astro'
import TextAccent from '@/components/ui/TextAccent.astro'
import Layout from '@/layouts/layout.astro'
---

<Layout title="Dynamic Studio" description="Dynamic Studio Description">
	<h1 class="text-7xl"><TextAccent>Dynamic Studio</TextAccent></h1>
	<div class="size-1 dyn-gradient"></div>
	<GradientBg position='left' color='blue' />
</Layout>