---
import Main from '@/layouts/Main.astro'
import AboutUs from '@/sections/home/AboutUs.astro'
import Hero from '@/sections/home/Hero.astro'
import Services from '@/sections/home/Services.astro'
import Projects from '@/sections/home/Projects.astro'
import Marquee from '@/sections/Marquee.astro'
import Container from '@/components/Container.astro'
import SectionTitle from '@/components/SectionTitle.astro'
---

<Main title='Tennessee Web Design, Custom Software & Branding'>
	<Hero/>
	<AboutUs/>
	<Marquee/>
	<Container>
		<SectionTitle className='max-w-xl reveal-fade z-50' title='Unlock Revenue Growth for Your Business' subtitle='What we offer' />
	</Container>
	<Services/>
	<Projects/>
</Main>