---
import Layout from '@/layouts/Layout.astro'
import LayoutInterior from '@/layouts/LayoutInterior.astro'
---

<Layout>
	<LayoutInterior>
		<h1 class="text-7xl">Work</h1>
	</LayoutInterior>
</Layout>