<div class="relative mix-blend-screen opacity-70">
  <div class="w-full absolute top-0 left-0">
    <svg viewBox="0 0 54 64" class="w-full aspect-[54/64]">
      <path d="M24.4,64c-1.5.1-2.8-1.1-2.8-2.6v-16.4c0-1.2.9-2.3,2.1-2.5,4.9-1,8.7-5.4,8.7-10.5s-3.6-9.6-8.5-10.5c-1.1-.2-2.3.6-2.3,1.8h0c0,10.8-8.7,19.4-19.4,19.4s-2.2-1-2.2-2.1v23.4h54V32c0,16.8-13,30.6-29.6,32Z M0,0v23.4c0-1.2,1-2.1,2.2-2.1h17.3c1.2,0,2.2-1,2.2-2.1h0V2.6C21.6,1.1,22.9-.1,24.4,0c16.6,1.4,29.6,15.2,29.6,32V0H0Z"/>
    </svg>
  </div>
  <video autoplay muted loop poster="" class="w-full aspect-[54/64] object-cover">
    <source src="/images/dynamic-studio-waves.mp4" />
  </video>
</div>