<div class="reveal-fade z-10 absolute aspect-[54/64] h-[80vh] md:h-[90vh] left-1/2 -translate-x-1/2 md:-left-10 md:translate-x-0 mix-blend-screen top-[10vh] md:top-[5vh]">
  <video autoplay muted loop poster="/images/dynamic-studio-waves.webp" preload="auto" class="opacity-60 aspect-[54/64] object-cover object-[70%_50%] w-full">
    <source src="/images/dynamic-studio-waves.mp4" />
  </video>
</div>

<style>
  video {
    mask-image: url("/images/iso.svg");
    mask-size: contain;
    mask-position: top right;
    mask-repeat: no-repeat;
  }
</style>