---
interface Props {
	title: string
  subtitle: string
  className?: string
}
const { title, subtitle, className } = Astro.props
---
<div class={`${ className } mb-8 md:mb-16 relative`}>
  <h3 class="opacity-60 uppercase font-normal leading-none mb-3">{ subtitle }</h3>
  <h4 class="text-3xl md:text-4xl lg:text-5xl font-medium">{ title }</h4>
</div>