---
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
interface Props {
	title?: string
	description?: string
	image?: string
}
const { title, description, image } = Astro.props
---

<!doctype html>
<html lang="en">
	<Head title={ title } description={ description } image={ image } />
	<body data-scroll-container>
		<Header transition:persist />
		<main data-scroll-section class="mix-blend-screen">
			<slot/>
		</main>
	</body>
</html>

<style is:global>
	@import '@/styles/main.css';
</style>

<script>
	import LocomotiveScroll from 'locomotive-scroll'
	document.addEventListener("astro:page-load", () => {
		new LocomotiveScroll({
			el: document.querySelector("[data-scroll-container]") as HTMLElement,
			smooth: true
		}
	)})
</script>