---
import { Chat } from '@/components/Icons'
---

<button title="Chat Button" class="group bg-background fixed flex items-center justify-center overflow-hidden rounded-full bottom-6 right-6 size-12 md:size-16 z-[9999]">
  <div class="relative z-20 text-dyn-green-400">
    <Chat width='24'/>
  </div>
  <div class="dyn-gradient absolute top-0 left-0 size-full z-10 opacity-10 group-hover:opacity-30 transition-all duration-300"></div>
</button>