---
import { User } from '@/components/Icons'
---

<a href="/" class="flex bg-[rgba(255,255,255,0.06)] hover:bg-[rgba(255,255,255,0.12)] justify-center text-dynamicGreen font-semibold gap-2 items-center py-4 xl:py-3 px-4 rounded text-sm xl:text-xs transition-all duration-300 uppercase">
  <User width='16'/>
  Clients Zone
</a>